body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f0f2f5;
    overflow-x: auto;
}

/*------------------bar-------------------*/
#bar {
    position: fixed;
    top: 0;
    left: 0;
    font-weight: 500;
    font-size: 18px;
    background-color: rgba(29, 28, 28, 0.9);
    color: rgb(255, 255, 255);
    width: 100%;
    z-index: 10;
}

#topBar {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

a {
   color: white;
   text-decoration: none;
}

#logo {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /*vertical align */
    justify-content: flex-start; /*horizontal align */
    width: 33%;
}

#adarsh {
    font-size: 20px;
    font-weight: bold;
}

#desktopMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

#desktopMenu a{
    padding: 0px 20px;
}

#desktopMenu a:hover{
    transform: scale(1.10);
    transition-duration: 0.2s;
}

#mobileIcon {
    display: none;
}

#mobileIcon img {
    height: 26px;
}

#mobileMenu {
    display: none;
}

#social {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 33%;
   margin-right: 30px;
}

#social a {
    padding-right: 10px;
}

#social img:hover {
    transform: scale(1.10);
    transition-duration: 0.2s;
}

/* ..........................bottomBar.......................... */
#bottomBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(29, 27, 27);
    color: white;
    font-size: 14px;
    z-index: 20;
}

#bottomBar a {
    color: white;
    text-decoration: none;
}

#footMemu {
    display: flex;
    align-items: center;
    /* padding-top: 30px ; */
    width: 33.5%;
    /* background-color: #42b72a; */
}

#footMemu a{
    padding-left: 15px;
}

#footLogo {
    text-align: center;
    width: 33%;
    font-size: 11px;
    padding-bottom: 20px;
    /* background-color: blue; */
}

#footSocial {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33%;
    /* background-color: red; */
}

#footSocial a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding-right: 15px;
}

/*------------------mWebBar-------------------*/
@media screen and (max-width: 700px) {
    #desktopMenu {
        display: none;
    }
    
    #mobileIcon {
        display: flex;
        justify-content: center;
        padding: 10px 20px 10px 10px;
        /* background-color: rebeccapurple; */
    

    }
    
    #mobileMenu {
        display: none;
        border-top: 1px solid #f1f1f1;
    }
    
    .show {
        display: block !important;
    }
    #mobileMenu a {
        display: block;
        color: white;
        font-size: 13px;
        text-decoration: none;
        border-bottom: 1px #f1f1f1 solid;
        padding: 10px;
        text-align: center;
    }

    #social {
        display: none;
    }
}