@media screen and (max-width: 1150px) {
    #myIntro {
        font-size: 35px;
    }
}

/*tablet*/
@media screen and (max-width: 700px) {
    #desktopMenu {
        display: none;
    }

    #mobileMenu {
        display: block;
        margin-right: 20px;
    }

    #social {
        display: none;
    }

    #content video {
       display: none;
    }

    #content {
        text-align: center;
    }

    #myIntro {
        position: unset;
        transform: none;
        display: block;
        font-size: 30px;
    }

    #myImg {
        height: 150px;
        margin-right: unset;
        margin-top: 80px;
    }  
}