body {
    font-family: 'Arial';
    padding: 0;
    margin: 0;
    background-color: #e4e7ed;
}

#bar {
    background-color: #2874f0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#layer1 {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

#layer2 {
    display: none;
}

#menu {
    display: none;
}

#logo {
    margin-left: 50px;
}

#searchBox {
    margin-left: 10px;
    margin-right: 100px;
    border-radius: 1.5px;
    height: 35px;
    width: 550px;
    background-color: white;
}

#searchBox input {
    border: none;
    padding-left: 10px;
    height: 100%;
    width: 510px;
}

#searchBox input:focus {
    outline: none;
}

#items {
    display: flex;
    align-items: center;
}

#items div {
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding-right: 40px;
}

#items img {
    margin-right: 5px;
}

#subbar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: rgb(95, 90, 90);
    font-weight: bold;
    text-align: center;
    overflow-x: auto;
    width: 100%;
    background-color: white;
}

#subbar img {
    height: 65px;
    margin: 10px 40px;
}