.productBar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 97%;
    overflow-x: auto;
    margin: auto;
}

.product {
    margin: 10px;
    font-size: small;
    text-align: center;
    width: 200px;
}

.prodImg {
    max-height: 150px;
    width: 99%;
    object-fit: contain;
    padding-bottom: 10px;
}

.prodImg:hover {
  padding-bottom: 5px;
}

.prodRating {
    background-color: #388e3c;
    border-radius: 3px;
    padding: 2px 3px;
    color: white;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
}

.prodRating img {
    margin-left: 2px;
}

.prodReview {
    color: gray;
    font-weight: bold;
    font-size: 12px;
}

.prodPrice {
    font-weight: bold;
    font-size: 14px;
}

.prodOrgPrice {
    font-size: 14px;
    color: gray;
    text-decoration: line-through;
}

.prodOff {
    color: #388e3c;
    font-weight: 600;
}


/*------------------Bottombar-------------------*/
#backToTop {
    margin-top: 50px;
    text-align: center;
    padding: 15px;
    color: white;
    background-color: #2f3d4e;
}

#backToTop:hover {
    background-color: #3e4d5f;
}

#bottomBar {
    background-color: #232F3E;
    color: white;
    font-size: 15px;
    width: 100%;
    overflow-x: auto;
}

#top {
    display: flex;
    justify-content: center;
}

.kauaa {
    margin: 30px 70px;
}

.kauaa div {
    padding: 5px 0px;
}

.heading {
    font-size: 18px;
    font-weight: bold;
}

#amazon {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

#amazon img {
    margin-top: 10px;
    padding-right: 70px;
}

#amazon select {
    height: 30px;
    width: 120px;
    color: white;
    background-color: inherit;
    border-radius: 3px;
}

#language {
    padding: 10px 200px;
    text-align: center;
    font-size: 12px;
}

#language span {
    padding: 0px 8px;
}

#bottomBar3 {
    background-color: #131A22;
    color: white;
    font-size: 12px;
}

#services {
    display: flex;
    align-items: center;
    justify-content: center;
}

#services div {
    padding: 0px 40px;
}