body {
    font-family: 'Arial';
    padding: 0;
    margin: 0;
    background-color: #f0f2f5;
}

#navBar {
    font-weight: 100;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);

    height: 40px;
    display: flex;
    align-items: center; /*vertical align */
    justify-content: center; /*horizontal align */
    position: fixed;
    width: 100%;
}

#navBar div {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

#navBar div:hover {
    transform: scale(1.15);
    transition-duration: 0.2s;
}

#navBar div a {
    color: white;
    text-decoration: none;
}

#navBar img {
    position: absolute;
    top: 10px;
    left: 5px;
    height: 30px;
}

#wrapper {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    border-radius: 5px;
    width: 360px;
    background-color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 12px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

#form div input {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    background-color: #f0f2f5;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
}

hr {
    background: #dadde1 !important;
}

#login {
    background-color: #1877f2;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 100%;
    margin-bottom: 10px;
}

#signup {
    background-color: #42b72a !important;
    color: white;
    font-weight: 600;
    font-size: 100%;
    width: 50% !important;
    margin-top: 15px;
}

.red {
    background-color: red;
    text-align: center;
}

.green {
    background-color: #42b72a;
    text-align: center;
}

.disableBtn {
    background-color: gray !important;
    pointer-events: none;
}



#mobileMenu a {
  display: block;
  background-color: black;
  color: white;
  text-decoration: none;
  border-bottom: 1px #f1f1f1 solid;
  padding: 10px;
  font-weight: bold;

}

#bottomBar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 14px;
    /* padding: 0px 50px; */
}

#bottomBar a {
    color: white;
    text-decoration: none;
}

#footMemu {
    display: flex;
    align-items: center;
    /* padding-top: 30px ; */
    width: 33.5%;
    /* background-color: #42b72a; */
}

#footMemu a{
    padding-left: 15px;
}

#footLogo {
    text-align: center;
    width: 33%;
    font-size: 11px;
    padding-bottom: 20px;
    /* background-color: blue; */
}

#footSocial {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33%;
    /* background-color: red; */
}

#footSocial a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding-right: 15px;
}
